__pycache__/
*.py[cod]
*$py.class
.vscode
.env
.env_local
.env_dev
.env_stage
.env_prod
.idea
.python-version
modules_tmp_dir/
venv
.venv
.idea/
*.pyc
Env
.DS_STORE
.cache/
.pvc.yml
*.log
celerybeat-schedule.db
redbeat.RedBeatScheduler.db
results
*_test.py
